

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 50px;
}

/*user (My Accounts) icon  positioning */

.user {
    margin-left: 350px;
}

.user i {
    margin-right: 2px;
}
/*  */
